package internal_views

templ Device() {
  //Not yet complied but want to view this list on the page
	<h1 class="">
		Device
	</h1>
	
	<div>
  <div>
   <ul class="">
      <!-- Sidebar content here -->
      <li><a>Number One</a></li>
      <li><a>Number Two</a></li>
	    <li><a>Shape-Up Only</a></li>
      <li><a>Shortback & Sides</a></li>
    </ul>
  </div>
</div>
}