package internal_views

templ HairCutType() {
/*<select>
	<form action="/action_page.php">
  <label for="cars">Choose a car:</label>
  <select name="cars" id="cars">
    <option value="volvo">Number One</option>
    <option value="saab">Number Two</option>
    <option value="opel">Shape-Up Only</option>
    <option value="audi">Shortback & Sides</option>
  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>

</select>
*/
}
